doctype html
html
  head
    meta(charset="utf-8")
    title Flix
    link(href="index.css",rel="stylesheet",type="text/css")
    script(src="index.js")
  body
    #application
    script.
      if (process.env.BROWSER_SYNC_CLIENT_URL) {
        const current = document.currentScript;
        const script = document.createElement('script');
        script.src = process.env.BROWSER_SYNC_CLIENT_URL;
        script.async = true;
        current.parentNode.insertBefore(script, current);
      }
