$mainColor = #6ac045

html, body
  margin 0
  padding 0
  background #000
  color #fff
  width 100%
  height 100%
  overflow hidden
  display flex
  align-items center
  justify-content center
  font-size 150%
  font-family "Lato", sans-serif;

.video
  width 100%
  height 100%

video
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%

form
  width 60%
  display flex

input
  flex 1 1 auto
  outline 0px
  margin-right 1rem

input:focus
  outline 2px solid $mainColor

button
  flex 0.25 1 auto
  background $mainColor
  color #fff
  border 0px
  border-radius 4px

.video:hover > .close
  opacity 1

.close
  width 32px
  height 32px
  opacity 0
  transition all 400ms ease-out
  position absolute
  top 1rem
  right 1rem
  vertical-align center
  text-align center
  text-decoration none
  background $mainColor
  color #fff
  border-radius 4px
  font-size 2rem

